.cadastro {
    width: 400px;
    background-color: #DDD;
    padding: 50px;
}

.cadastro label {
    display: block;
    margin-bottom: 20px;
}

.cadastro input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}